<div class="titulo">
    <h2>Listagem dos Investimento</h2>
</div>

<table mat-table [dataSource]="dadosInvestimento" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let tipoInv"> {{tipoInv.id}} </td>
    </ng-container>

    <ng-container matColumnDef="TipoDeInvestimento">
        <th mat-header-cell *matHeaderCellDef> Tipo de Investimento </th>
        <td mat-cell *matCellDef="let tipoInv"> {{tipoInv.tipoInvestimento}} </td>
    </ng-container>

    <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let tipoInv"> {{tipoInv.valor | currency: 'R$ '}} </td>
    </ng-container>

    <ng-container matColumnDef="Data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let tipoInv"> {{tipoInv.data | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Opções">
        <th mat-header-cell *matHeaderCellDef> Opções </th>
        <td mat-cell *matCellDef="let tipoInv">
            <button mat-button [routerLink]="['/alterarInvestimento', tipoInv.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="delete(tipoInv.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
</table>

<div class="botoes">
    <button mat-raised-button color="accent" [routerLink]="['/home']">Cancelar</button>
</div>